<div th:fragment="passwordModal" class="modal fade" id="changePasswordModal" tabindex="-1" aria-hidden="true" xmlns:th="http://www.w3.org/1999/xhtml">
    <script type="text/javascript">
                var error = [[${error}]];
                window.onload = function() {
                    if(!error) {
                        return;
                    }
                    console.log("Showing modal");
                    $('#changePasswordModal').modal("show");
                };
    </script>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form></form>
            <form th:method="POST" th:action="@{/user/change-password}" th:object="${changePasswordDTO}">
                <div class="modal-body">
                    <div class="row mt-2 justify-content-center">
                        <div class="col mx-3">
                            <input placeholder="Old Password" type="password" th:field="*{oldPassword}" class="form-control">
                        </div>
                    </div>
                    <div class="row mt-2 justify-content-center">
                        <div class="col mx-3">
                            <input placeholder="New Password" type="password" th:field="*{password}" class="form-control">
                            <div class="alert alert-warning mb-0 mt-1 py-1" th:if="${#fields.hasErrors('${changePasswordDTO.password}')}" th:errors="${changePasswordDTO.password}"></div>
                        </div>
                    </div>
                    <div class="row mt-2 justify-content-center">
                        <div class="col mx-3">
                            <input placeholder="Repeat New Password" type="password" th:field="*{confirmPassword}" class="form-control">
                            <div class="alert alert-warning mb-0 mt-1 py-1" th:if="${#fields.hasErrors('${changePasswordDTO.confirmPassword}')}" th:errors="${changePasswordDTO.confirmPassword}"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>