<!doctype html>
<html class = "form-signin" lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>

<body class="form-signin text-center body-color">
    
<main class="form-signin">
  <form th:action="@{/login}" th:method="post">
    <a th:href="@{/}">
      <img class="mb-4 rounded-circle" src="" th:src="@{/images/cinema.png}" alt="" height="100">
    </a>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="username" name="username" placeholder="Username" required autofocus>
      <label for="username">Username</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="password" id="password" placeholder="Password" autofocus>
      <label for="password">Password</label>
    </div>
    <div class="checkbox mb-2">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

    <br/><br/>
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
      Incorrect username or password.
    </div>

    <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
  </form>
</main>


    
  </body>
</html>
