<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head::head"></head>
<body class="d-flex flex-column min-vh-100 body-color" >
<header th:replace="fragments/header :: header"></header>

<main>
    <div th:replace="fragments/personCreatedModal :: personCreatedModal"></div>

    <div class="container my-2">
        <div class="row">
            <div class="container mx-auto rounded bg-white py-3 px-3">
                <!--- content goes here --->
                <form></form>
                <form th:method="POST" th:object="${person}" th:href="@{person/add}">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" th:field="*{name}" class="form-control" id="name" placeholder="First Name">
                                <label for="name">First Name</label>
                                <div class="d-flex justify-content-center">
                                    <div class="alert alert-danger mb-0 mt-1 py-1" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <input type="text" th:field="*{surname}" class="form-control" id="surname" placeholder="Last Name">
                                <label for="surname">Last Name</label>
                                <div class="d-flex justify-content-center">
                                    <div class="alert alert-danger mb-0 mt-1 py-1" th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-floating">
                                <select class="form-select" th:field="*{type}" id="type" >
                                    <option th:each="type : ${T(io.chilborne.filmfanatic.domain.PersonTypeEnum).values()}"
                                    th:value="${type}" th:text="${type.displayValue}">
                                    </option>
                                </select>
                                <label for="type">Type</label>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mt-2" type="submit">Submit</button>
                    </div>
                    <div class="d-flex justify-content-center">
                        <div th:if="${success}" class="alert alert-success mt-2 mb-0" role="alert"
                             th:text="${person.name} + ' ' + ${person.surname} + ' successfully added!'"
                             style="display: inline-block;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>